<div class="w-full mt-24 relative mx-2">
    <img class="lg:h-[680px] w-full"src="../../../assets/hero1.jpg" loading="eager" alt="">
    <div class=" ">
        <p class="font-black-ops font-extrabold text-xl md:text-5xl xl:text-6xl text-blue-700 uppercase top-14 md:top-1/4 md:left-16 lg:left-48 xl:left-48 left-14 absolute">amazing tours & safaris</p>
        <p class="absolute top-28 md:top-64  md:left-28 lg:left-64 xl:left-72 left-16 font-mono md:text-4xl text-black ">Adventures waiting for you. <br>Discover more with Zoro Safaris</p>
    </div>
</div>