<div class="container mx-auto mt-24 w-full bg-blue-100">
    <div class="flex flex-col justify-between gap-6 lg:gap-0  lg:grid lg:grid-cols-12 p-2">
        <div *ngIf="excursions" class="lg:p-2 lg:col-start-2 lg:col-span-6  ">
            <p class="text-5xl font-bold font-serif pb-4 text-red-600">{{excursions.title}}</p>
            <p class="leading-8 font-normal text-lg pr-2">{{excursions.description}}</p>
        </div>
        <!-- <div class="flex flex-col justify-between  lg:col-start-9 lg:col-end-12 ">
            <p class=" font-semibold text-2xl text-red-600">EXCURSION DETAILS</p>
            <div class="flex flex-col leading-10 font-medium text-lg">
                <p>Departure:Watamu</p>
                <p>Dates: Available everyday
                    (from July to March)</p>
                <p>Time: Departure time 9:00 AM</p>
                <p>Participants:no limits</p>
                <p>Duration:1 day</p>

            </div>
        </div> -->
    </div>
    <div class="flex flex-col lg:grid lg:grid-col-12">
       
        <div *ngIf="excursionItenary" class="lg:col-start-1 lg:col-end-6 pl-4 pr-4 lg:pr-6">
            <p class="text-3xl text-red-600 font-bold font-pt-serif-regular pl-28 md:pl-64 ">ITINERARY</p>
            <p class="text-blue-700 font-semibold text-2xl pl-0 lg:pl-10">{{excursionItenary.name}}</p>
            <p [innerHTML]="excursionItenary.description" class="text-base">{{excursionItenary.description}}</p>
        </div>

        <div class="lg:col-start-8 lg:col-end-12 pr-0 lg:pr-4">
            <app-excursion-quotation></app-excursion-quotation>
        </div>
       
    </div>
</div>

