<div class="container mx-auto relative h-fit mt-6">
    <div class="absolute inset-0 bg-[url('/assets/map.jpg')] bg-cover -z-10 opacity-30"></div>
    <!-- title -->
    <div class=" flex justify-center items-center">
        <h1 class="font-black-ops md:text-6xl text-4xl">ZORO SAFARIS & TOURS</h1>
    </div>
    <!-- info -->
     <div class="flex  md:flex-row justify-around items-center mt-10">
        <div class="">
            <p class="font-semibold">Location</p>
            <p>Malindi, Kenya</p>
            <p>Watamu</p>
            <p class="font-semibold">Contact</p>
            <p>zorosafaris.com</p>
            <br>
            <p class="font-semibold">Socials</p>
            <p>Whatsapp</p>
            <p>Facebook</p>
            <p>TripAdvisor</p>
            <p>Instagram</p>
        </div>
        <div class="hidden md:block">
            <img class=" h-80 w-96 rounded-lg" src="../../../assets/elephant.jpg" alt="">
        </div>
        <div class="">
            <p class="font-semibold">Explore</p>
            <p>About</p>
            <p>Excursions</p>
            <p >Safaris & Tours</p>
            <p>Offices</p>
            <br>
            <p class="font-semibold">Help</p>
            <p>Privacy Policy</p>
            <p>FAQs</p>
            <p>Cancellation Policy</p>
            <p>Payment Methods</p>
        </div>
     </div>
     <!-- newsletter -->
      <div class="flex flex-col justify-center items-center gap-2 mt-6">
        <p>Newsletter</p>
        <P>Get our news and updates</P>
        <div class="">
           
            <input type="email" id="email" class="bg-gray-50 border border-red-700 text-gray-900 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter your Email here*" required />
        </div>
        <button type="button" class="text-white w-[185px] bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-lg px-5 py-2.5  mb-2">Subscribe</button>
      </div>
      <!-- reserved -->
       <div class="flex flex-col justify-center items-center">
        <p>_______________________________________________________________________________________________________</p>
        <p>&#64;2024 by Ahlaam Tech. ALL RIGHTS RESERVED.</p>
       </div>
       

</div>

