<div class="mt-24 ">
    <div class="relative">
        <img class="w-full lg:h-[650px] opacity-80" src="../../assets/air.jpg" loading="eager" alt="">
        <div class="absolute top-20 left-48 md:left-[400px] md:top-32 lg:left-[650px] xl:left-[700px] lg:top-36">
            <p class="text-red-600 font-mono font-semibold text-3xl md:text-5xl lg:text-6xl xl:text-7xl">TRAVEL TIPS</p>
        </div>
    </div>

    <div class="flex flex-col md:flex-row md:flex-wrap pt-10 justify-center items-center xl:gap-20 lg:gap-10 gap-4 px-4">
            <!-- 1st -->
        <div class="relative border-8 border-gray-300 rounded w-96 group">
            <img class="h-96 w-96 " src="../../assets/travel.jpg" alt="">
            <div class="absolute top-72 z-10">
                <p class="font-mono text-2xl text-white group-hover:text-black group-hover:animate-bounce font-bold px-2">10 THINGS TO KNOW BEFORE LEAVING.</p>
                
            </div>
            <div class="absolute top-6 opacity-0 group-hover:opacity-100 group-hover:translate-y-0 -translate-y-4 z-10 transition-all duration-500 p-4">
                <p class="text-base font-semibold font-mono rounded text-black bg-white  px-2 ">If you are planning your vacation, check out our tips to avoid surprises and organize the best trip. <span routerLink="/leaving" class="text-red-600 hover:text-lg italic  cursor-pointer">Read More..</span></p>
                
            </div>
            
            
        </div>
            <!-- 2nd -->
        <div class="relative border-8 border-gray-300 rounded w-96 group">
            <img class="h-96 w-96 opacity-75" src="../../assets/pack.jpg" alt="">
            <div class="absolute top-72 z-10">
                <p class="font-mono text-2xl text-white group-hover:text-black font-bold px-2">WHAT TO PACK.</p>
                
            </div>
            <div class="absolute top-6 opacity-0 group-hover:opacity-100 group-hover:translate-y-0 -translate-y-4 z-10 transition-all duration-500 p-4">
                <p class="text-base font-semibold text-black bg-white rounded font-mono px-2">If you are planning your vacation Kenya,check out these tips on what essentials to bring.<span routerLink="/packing" class="text-red-600 hover:text-lg italic  cursor-pointer">Read More..</span></p>
            </div>
            
            
        </div>

        <!-- 3rd -->
        <div class="relative border-8 border-gray-300 rounded w-96 group">
            <img class="h-96 w-96 opacity-75" src="../../assets/safari/IMG-20241004-WA0021.jpg" alt="">
            <div class="absolute top-72 z-10">
                <p class="font-mono text-2xl text-white group-hover:text-black group-hover:animate-bounce font-bold px-2">RULES DURING SAFARI.</p>
                
            </div>
            <div class="absolute top-6 opacity-0 group-hover:opacity-100 group-hover:translate-y-0 -translate-y-4 z-10 transition-all duration-500 p-4">
                <p class="text-base font-semibold text-black bg-white rounded font-mono  px-2">If you are planning your vacation Kenya,check out these RULES to follow so as to fully enjoy nature during your safari.<span routerLink="/safari-rules" class="text-red-600 hover:text-lg italic  cursor-pointer">Read More..</span></p>
            </div>
            
            
        </div>
        <!-- 4th -->
        <div class="relative border-8 border-gray-300 rounded w-96 group">
            <img class="h-96 w-96 opacity-85" src="../../assets/fodd.jpg" alt="">
            <div class="absolute top-72 z-10">
                <p class="font-mono text-2xl text-white group-hover:text-black group-hover:animate-bounce font-bold px-2">FOOD IN KENYA.</p>
            </div>
            <div class="absolute top-6 opacity-0 group-hover:opacity-100 group-hover:translate-y-0 -translate-y-4 z-10 transition-all duration-500 p-4">
                <p class="text-base font-semibold text-black bg-white rounded font-mono   px-2">If you are planning your vacation Kenya,its cuisine is made up of numerous specialties made of vegatables and meat.<span routerLink="/food-in-kenya" class="text-red-600 hover:text-lg italic  cursor-pointer">Read More..</span></p>
            </div>
            
            
        </div>
        <!-- 5th -->
        <div class="relative border-8 border-gray-300 rounded w-96 group">
            <img class="h-96 w-96 opacity-85" src="../../assets/time.jpg" alt="">
            <div class="absolute top-72 z-10">
                <p class="font-mono text-2xl text-white group-hover:text-black group-hover:animate-bounce font-bold px-2">KENYA: WHEN TO GO?</p>
            </div>
            <div class="absolute top-6 opacity-0 group-hover:opacity-100 group-hover:translate-y-0 -translate-y-4 z-10 transition-all duration-500 p-4">
                <p class="text-base font-semibold text-black bg-white rounded font-mono   px-2">Are you planning for a trip in Kenya? Check our advice on what time is best to visit.<span routerLink="/when-to-go" class="text-red-600 hover:text-lg italic  cursor-pointer">Read More..</span></p>
            </div>
            
            
        </div>
        <!-- 6th -->
        <div class="relative border-8 border-gray-300 rounded w-96 group">
            <img class="h-96 w-96 opacity-85 object-center" src="../../assets/evisa.PNG" alt="">
            <div class="absolute top-72 z-10">
                <p class="font-mono text-2xl text-white group-hover:text-black group-hover:animate-bounce font-bold px-2">VISA FOR KENYA</p>
            </div>
            <div class="absolute top-6 opacity-0 group-hover:opacity-100 group-hover:translate-y-0 -translate-y-4 z-10 transition-all duration-500 p-4">
                <p class="text-base font-semibold text-black bg-white rounded font-mono px-2">Are you planning for a trip in Kenya?Use the Kenya eTA system... <span routerLink="/visa-kenya" class="text-red-600 hover:text-lg italic  cursor-pointer">Read More..</span></p>
            </div>
            
            
        </div>


       
    </div>










</div>
