<div class=" relative h-fit mt-0">
    <div class="absolute inset-0 bg-[url('/assets/map.jpg')] bg-cover -z-10 opacity-30"></div>
    <!-- title -->
    <div class=" flex justify-center items-center">
        <p class="font-spicy-rice-regular font-semibold hidden pt-4 md:flex text-3xl md:text-5xl lg:text-6xl text-teal-500">ZORO SAFARIS & TOURS</p>
        <img class="h-20 mt-4 md:hidden" src="../../../assets/zoro-logo.png" alt="">
    </div>
    <!-- info -->
     <div class="grid grid-cols-12 ">
        <div class=" col-start-2 col-span-6 md:col-span-2 md:col-start-2">
            <p class="font-semibold">Location</p>
            <p>Malindi, Kenya</p>
            <p>Watamu</p>
            <p class="font-semibold">Contact</p>
            <p>zorosafaris.com</p>
            
            <p class="font-semibold">Socials</p>
            <p><a><i class="fa-brands fa-whatsapp fa-2x text-green-400 pl-1 cursor-pointer hover:text-green-700"></i></a></p>
            <p><a><i class="fa-brands fa-square-facebook text-blue-500 fa-2x hover:text-blue-700 pl-1 cursor-pointer"></i></a></p>
            <p><a><img class="w-9 hover:w-10 cursor-pointer " src="../../assets/tripp.png" alt=""></a>
            <p><a><img class="w-9 hover:w-10 cursor-pointer" src="../../assets/igg.png" alt=""></a>
        </div>
        <div class="hidden md:grid md:col-start-5 md:col-span-6">
            <img class="  h-48" src="../../../assets/zoro-logo.png" alt="">
        </div>
        <div class=" md:col-start-11 col-start-9 col-span-4">
            <p class="font-semibold">Explore</p>
            <p routerLink="/about-us" class="hover:text-red-600 cursor-pointer">About</p>
            <p routerLink="/excursions" class="hover:text-red-600 cursor-pointer">Excursions</p>
            <p routerLink="/safaris" class="hover:text-red-600 cursor-pointer">Safaris & Tours</p>
            
            <p><strong>Office</strong></p>
            <p>Malindi</p>
            
            
            
            <p class="font-semibold">Help</p>
            <p>Privacy Policy</p>
            <p>FAQs</p>
            <p>Cancellation Policy</p>
            <p>Payment Methods</p>
        </div>
     </div>
     <!-- newsletter -->
      <!-- <div class="flex flex-col justify-center items-center gap-2 mt-6">
        <p>Newsletter</p>
        <P>Get our news and updates</P>
        <div class="">
           
            <input type="email" id="email" class="bg-gray-50 border border-red-700 text-gray-900 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter your Email here*" required />
        </div>
        <button type="button" class="text-white w-[185px] bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-lg px-5 py-2.5  mb-2">Subscribe</button>
      </div> -->
      <!-- reserved -->
       <div class="flex flex-col justify-center items-center">
       
        <p>&#64;2024 by DreamTech. ALL RIGHTS RESERVED.</p>
       </div>
       

</div>

