<div class="mt-24">
    <div class="relative">
        <img class="w-full xl:h-[600px]" loading="eager" src="../../../assets/safariss.jpg" alt="">
        <div class="absolute top-24 left-14 md:left-52 md:top-44 lg:top-48 lg:left-72 ">
            <p class="font-mono font-bold text-4xl md:text-5xl lg:text-6xl xl:text-7xl text-black" >RULES DURING SAFARI. </p>
        </div>

        <div class="mt-20 md:grid md:grid-cols-12">
            <div class="md:col-start-2 md:col-span-6 px-4 md:pl-0 opacity-80">
                <img src="../../../assets/zebra.jpg" alt="">
                <p class="pt-10 text-2xl text-amber-500 font-bold">A Few Rules for a 100% Safari</p>
                <p class="uppercase pt-4 font-extrabold">As in all National Parks, there are rules to follow that will allow you to fully enjoy nature and its inhabitants.</p>
                <p class="text-2xl text-red-800 uppercase font-medium opacity-85 pt-10">Read carefully and experience Kenya!</p>
                <p class="text-sm opacity-80 leading-8">
<br><i class="fa-solid fa-circle pr-2 text-red-800 "></i>Always follow the instructions that our guide will give you, also respecting the agreed times.
<br><i class="fa-solid fa-circle pr-2 text-red-800"></i>Respect the privacy of wildlife, this is their habitat.
<br><i class="fa-solid fa-circle pr-2 text-red-800"></i>Be careful of animals, they are wild and can be unpredictable.
<br><i class="fa-solid fa-circle pr-2 text-red-800"></i>Do not approach animals or make sudden noises or movements.
<br><i class="fa-solid fa-circle pr-2 text-red-800"></i>Not feeding animals disrupts their diet and leads to human dependency.
<br><i class="fa-solid fa-circle pr-2 text-red-800"></i>Remain silent, noise disturbs wildlife and may disturb your fellow travellers.
<br><i class="fa-solid fa-circle pr-2 text-red-800"></i>Remain in your vehicle at all times except at picnic or designated walking areas.
<br><i class="fa-solid fa-circle pr-2 text-red-800"></i>When driving, keep below the maximum speed limit (40 km/h – 25 mph).
<br><i class="fa-solid fa-circle pr-2 text-red-800"></i>Never drive off-road, seriously damaging the habitat.
<br><i class="fa-solid fa-circle pr-2 text-red-800"></i>When observing wildlife, keep a minimum distance of 20 metres and stay on the side of the road to allow others to pass.
<br><i class="fa-solid fa-circle pr-2 text-red-800"></i>Do not throw away waste but store it and throw it in the spaces outside the Parks.
<br><i class="fa-solid fa-circle pr-2 text-red-800"></i>Never leave fires unattended or throw burning objects.
<br><i class="fa-solid fa-circle pr-2 text-red-800"></i>Respect Kenya's cultural heritage, never photograph local people or their habitat without asking their permission.
<br><i class="fa-solid fa-circle pr-2 text-red-800"></i>Respect Kenyan cultural traditions and always dress modestly.
<br><i class="fa-solid fa-circle pr-2 text-red-800"></i>Stay or leave before sunset: Visitors must leave the park between 6:00 p.m. and 6:00 a.m. unless camping overnight.
<br><i class="fa-solid fa-circle pr-2 text-red-800"></i>Night driving is not permitted.
<br><i class="fa-solid fa-circle pr-2 text-red-800"></i>During the Safaris it is forbidden to bring flammable materials, alcohol, drugs and animals.
<br><i class="fa-solid fa-circle pr-2 text-red-800"></i>You will only be allowed to smoke in designated areas so we ask you not to do so during the Game Drives.
<br><i class="fa-solid fa-circle pr-2 text-red-800"></i>Inside the tented camps or lodges you are invited to comply with the structure's regulations which you can find displayed or by asking at reception.
<br><i class="fa-solid fa-circle pr-2 text-red-800"></i>Please inform your guide and lodges or tented camps of any allergies, disabilities or intolerances of any kind.
<br><i class="fa-solid fa-circle pr-2 text-red-800"></i>The use of drones is not permitted inside the Parks.
<br><i class="fa-solid fa-circle pr-2 text-red-800"></i>Do not lean out of the vehicle when stopped or while driving.
                </p>
            
            
            </div>
            <div class="hidden md:block md:col-start-9 md:col-span-4 md:space-y-0">
                <div>
                    <p class="font-mono font-bold text-xl">RECENT ARTICLES</p>
                <img class="h-44 w-60 pt-6 object-cover" src="../../../assets/travel.jpg" alt="">
                <p routerLink="/leaving" class="pt-4 text-gray-500 hover:text-black cursor-pointer">10 Things to know before leaving.</p>
                </div>
                <div>
                    
                <img class="h-44 w-60 pt-6 object-cover" src="../../../assets/packk.jpg" alt="">
                <p routerLink="/packing" class="pt-4 text-gray-500 hover:text-black cursor-pointer">What to pack.</p>
                </div>
                <div>
                   
                <img class="h-44 w-60 pt-6 object-cover" src="../../../assets/food.jpg" alt="">
                <p class="pt-4 text-gray-500 hover:text-black cursor-pointer">Food in Kenya</p>
                </div>
                <div>
                    
                <img class="h-44 w-60 pt-6 object-cover" src="../../../assets/evisa.PNG" alt="">
                <p routerLink="/visa-kenya" class="pt-4 text-gray-500 hover:text-black cursor-pointer">Visa for Kenya</p>
                </div>
                <div>
                    
                <img class="h-44 w-60 pt-6 object-cover" src="../../../assets/time.jpg" alt="">
                <p routerLink="/when-to-go" class="pt-4 text-gray-500 hover:text-black cursor-pointer">When to go?</p>
                </div>
    
                
           </div>
        </div>














</div>
