  <div class="container mx-auto h-full md:h-screen relative mt-6">
    <div class="absolute inset-0 bg-[url('/assets/sun.jpg')] bg-cover"></div>
    <div class="  flex flex-row justify-center items-center gap-6">
        <div class="card relative z-10 p-4 md:w-80 w-96 h-48 md:h-96 overflow-hidden rounded-lg group">
            <div class="image-container h-full w-full relative">
              <img src="/assets/blu.jpg" alt="Image" class="w-full h-full object-cover transition duration-300 ease-in-out group-hover:hidden">
              <img src="../../../assets/el.jpg" alt="Hover Image" class="w-full h-full object-cover hidden group-hover:block transition duration-300 ease-in-out">
              <div class="text-container absolute bottom-10 left-6 text-sm md:text-lg font-bold text-black text-shadow-md transition duration-300 ease-in-out group-hover:top-6">
                <p>MIDA CREEK SAFARI </p>
                <p class="text-4xl">___</p>
                <p class="hidden group-hover:block">welcome</p>
              </div>
            </div>
          </div>
          <div class="card relative z-10 p-4 md:w-80 w-96 h-48 md:h-96 overflow-hidden rounded-lg group">
            <div class="image-container h-full w-full relative">
              <img src="/assets/blu.jpg" alt="Image" class="w-full h-full object-cover transition duration-300 ease-in-out group-hover:hidden">
              <img src="../../../assets/el.jpg" alt="Hover Image" class="w-full h-full object-cover hidden group-hover:block transition duration-300 ease-in-out">
              <div class="text-container absolute bottom-10 left-6 text-sm md:text-lg font-bold text-black text-shadow-md transition duration-300 ease-in-out group-hover:top-6">
                <p>MIDA CREEK SAFARI </p>
                <p class="text-4xl">___</p>
                <p class="hidden group-hover:block">welcome</p>
              </div>
            </div>
          </div>
          <div class="card relative z-10 p-4 md:w-80 w-96 h-48 md:h-96 overflow-hidden rounded-lg group">
            <div class="image-container h-full w-full relative">
              <img src="/assets/blu.jpg" alt="Image" class="w-full h-full object-cover transition duration-300 ease-in-out group-hover:hidden">
              <img src="../../../assets/el.jpg" alt="Hover Image" class="w-full h-full object-cover hidden group-hover:block transition duration-300 ease-in-out">
              <div class="text-container absolute bottom-10 left-6 text-sm md:text-lg font-bold text-black text-shadow-md transition duration-300 ease-in-out group-hover:top-6">
                <p>MIDA CREEK SAFARI </p>
                <p class="text-4xl">___</p>
                <p class="hidden group-hover:block">welcome</p>
              </div>
            </div>
          </div>
         

    </div>
    
  </div>
  <div class="flex justify-center items-start mt-4">
    <a  class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-purple-700 rounded-lg hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-red-300 cursor-pointer">
        VIEW MORE   
    </a>

</div>
