<div class="mt-24">
    <div class="flex justify-center items-center">
        <p class="font-spicy-rice-regular text-4xl md:text-5xl lg:text-6xl font-semibold text-blue-800">-------- ABOUT US --------</p>
    </div>

    <div class="flex flex-col lg:grid lg:grid-cols-12">
        
        <div class="lg:col-start-2 lg:col-span-4">
            <p class="px-10 text-base font-poppins-regular text-blue-800 leading-6">KENYA is a natural paradise, between white sandy beaches, starfish, savannah safaris, multicolored fish, crystal clear water and magical-colored skies. And this is what we at <strong>Zoro Safaris </strong>want to make you live: everything from travellers and not just tourists, to let you know our land and all its secrets, always in maximum security.
<br><br>We are a local tour guide with great experience in organizing safaris, excursions, additional services and everything you might need during your vacation in Kenya. I like to create a relationship of friendship and trust with the people who choose me as their point of reference, always trying to make the holiday unforgettable and above all bringing them to the discovery of Kenya in all its aspects. 
<br>For any request do not hesitate to contact me. Experience Kenya with <strong>Zoro Safaris!</strong></p>
        </div>
        <img class="lg:col-start-7 lg:col-span-5 lg:px-0 px-10" src="../../assets/safaris/IMG-20241014-WA0037.jpg" alt="">
    </div>

    <div class="flex flex-col lg:grid lg:grid-cols-12 lg:pt-10">
        <img class="lg:col-start-2 lg:col-span-6 pt-6 lg:pt-0 order-2 lg:order-1 lg:px-0 px-10" src="../../assets/safari/IMG-20241004-WA0021.jpg" alt="">
        <div class="lg:col-start-9 lg:col-span-4 px-10 pt-4 lg:pt-0 order-1 lg:order-2">
            <p class="text-xl font-semibold font-poppins-regular text-blue-800 ">Why Us?</p>
            <p class=" text-base font-poppins-regular text-blue-800 leading-6">
            
                For over 10 years I have been the tour guide and travel guide for all visitors who come to visit this beautiful land: Kenya. I will organize your stay to the best, I come to pick you up directly at the hotel and together we will experience the adventures that you will carry forever in your heart.
            </p>
        </div>
       
    </div>
</div>