
<div class="   mt-24">
    <div class="relative">
        <div>
            <img class="object-cover lg:h-screen w-full" src="../../../assets/safari/IMG-20241004-WA0035.jpg" alt="">
        </div>
        <div class="absolute inset-x-0 top-5 md:top-16 lg:top-20 flex  flex-col justify-center items-center md:gap-y-6 gap-y-2">
            <p class=" text-green-700  text-5xl md:text-6xl lg:text-7xl font-spicy-rice-regular font-bold">ZORO SAFARIS</p>
            <p class="text-green-400 pl-4 text-lg  md:text-3xl lg:text-4xl  xl:text-5xl font-spicy-rice-regular font-semibold">VISIT KENYA AND DISCOVER ITS WONDERS</p>
            <p class=" text-sm md:text-xl lg:text-3xl xl:text-4xl text-white font-poppins-regular font-normal pl-4   md:pt-20">Discover our Safaris in the Kenya's beautiful parks 
                and enjoy access to 
                <br>
                the best Lodges with great professionalism and expertise from our guides.</p>
        </div>
    </div>
    <div class="bg-amber-800 bg-opacity-20 pt-8 pb-8 ">
        @for (item of safaris; track item.id) {
            <div class=" mx-12 flex flex-col md:flex-row md:gap-4 bg-yellow-500 bg-opacity-60 items-start pl-4 pb-4 md:pl-0 md:pb-0 mt-6">
                <img class="w-80 h-72 md:w-96 md:h-72 p-4" src="{{item.image}}" alt="">
               <div class="flex flex-col md:gap-4 pt-6 md:pb-4">
                <p class="font-pt-serif-regular text-4xl font-bold text-amber-900">{{item.title}}</p>
                <p class=" text-2xl md:text-3xl text-red-600 font-bold font-pt-serif-regular"> {{item.title2}}</p>
                <p class="text-lg pt-4 md-pt-0">{{item.description}}</p>
               <div class="pt-2">
                <a [routerLink]="['/safaris', item.id]" routerLinkActive="text-red-600" class="w-36  inline-flex items-center px-3 py-2 text-base font-medium text-center text-white bg-red-600 rounded hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-blue-300">
                    Read More
                     <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                    </svg>
                </a>
               </div>
            </div>
          
            </div>
        }
       
    </div>

</div>
