
<div class="container mx-auto relative flex flex-col justify-between items-center">
    <div class="absolute inset-0 bg-[url('/assets/c5.jpg')]  bg-cover opacity-10" ></div>
    <div class="mt-5">
        <p class="text-blue-950 text-4xl  font-normal">WHY BOOK WITH US?</p>
    </div>

    <div class="mx-4 mt-6 mb-4 ">
    <ul class=" flex flex-col lg:flex-row justify-between items-center leading-relaxed gap-10">
        <li>
            <div>
               <img class="w-9" src="../../../assets/plane.svg" alt="">
               <p class="font-semibold text-xl text-blue-900">Amazing destinations</p>
               <p class="text-blue-900" >Beaches, Game Parks, Resorts, City Tours.
                <br>All my  always carry great memories inside.</p>
            </div>

        </li>
        <li>
            <div>
                <img class="w-8" src="../../../assets/cash.svg" alt="">
                <p class="font-semibold text-xl text-blue-900">Best Price Guaranteed</p>
                <p class="text-blue-900" >Safaris & Excursions always to the Top. In the best locations and facilities at the best available price.</p>
             </div>

        </li>
        <li>
            <div>
                <img class="w-8" src="../../../assets/compass.svg" alt="">
                <p class="font-semibold text-xl text-blue-900">Guide Expert</p>
                <p class="text-blue-900" >Our Customer Service is key to our Business approach.</p>
             </div>

        </li>
        <li>
            <div>
                <img class="w-8" src="../../../assets/safety.svg" alt="">
                <p class="font-semibold text-xl text-blue-900">100% Safety</p>
                <p class="text-blue-900" >We do not take risks or unnecessary 
                    <br>dangers to our clients, the adventure 
                    <br>is beautiful to experience when organized and thought out to the smallest detail.</p>
             </div>

        </li>
        <li>
            <div>
                <img class="w-8" src="../../../assets/booking.svg" alt="">
                <p class="font-semibold text-xl text-blue-900">Super Fast Booking</p>
                <p class="text-blue-900" >We make booking process as swift as possible.</p>
             </div>

        </li>
    </ul>
    </div>
    <div class="mt-4 lg:mt-0">
        <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">READ MORE</button>
    </div>


</div>
