
<div class="mt-24">
    <div class="relative">
        <img class="w-full xl:h-[700px]  opacity-80" loading="eager" src="../../../assets/kenya.jpg" alt="">
        <div class="absolute top-24 left-14 md:left-52 md:top-44 lg:top-48 lg:left-96 ">
            <p class="font-mono font-bold text-5xl md:text-6xl lg:text-7xl text-black" >WHEN TO GO? </p>
        </div>
     </div>

        <div class="mt-20 md:grid md:grid-cols-12 relative">
            <div class="md:col-start-2 md:col-span-6 px-4 md:pl-0 opacity-80 ">
                <img src="../../../assets/kenya.jpg" alt="">
                <p class="pt-10 text-2xl text-amber-500 font-bold">What is the best time to come to Kenya?</p>
                <p class="uppercase pt-4 font-extrabold">If you are planning a trip to Kenya and are undecided about when to leave, you can read our advice so you don't find yourself unprepared</p>
                <p class="text-2xl text-red-800 uppercase font-medium opacity-85 pt-10">If you are eager to book a flight, continue reading this article </p>
                <p class="text-sm leading-6">Kenya is a very large country so it is possible to find very different types of climate: one for the coastal area generally hot and humid, one for the Western side of the State much more temperate thanks to the highlands and an arid part in the North and Eastern area .  So if May is one of the worst periods to come to Watamu, in some areas it has a perfect climate for safari. 

                    <br><br>Being a country mainly below the equator, the best period is when it is winter in Italy, however let's see together the various periods and the various areas.</p>
                <p class="uppercase pt-4 font-extrabold">Coastal Area (Malindi and Watamu)</p>
                <p class="text-sm leading-6">If your destination is the sea then the best months are December, January, February and March with temperatures around 31-32 degrees (but with peaks of up to 36-37°) and high humidity. The period July-September is more pleasant when temperatures drop to around 28° degrees, the days are therefore less hot, very sunny, with not abundant rain (which often concentrates at night and early in the morning) in the form of short showers that leave room for the sun.

                    <br><br>The season of long torrential rains in this area runs from mid-April to the end of June, so we advise against leaving during this period if your choice is to go to the seaside</p>
            <img src="../../../assets/safaris/Diani.jpg" alt="">
                    <p class="pt-10 text-2xl text-amber-500 font-bold"> When to go on Safari?</p>
                    <p class="text-sm leading-6">For a safari in the national parks and highlands, you can choose between two periods: from June to September , and January-February . In the first period there is a greater risk of afternoon and evening showers at high altitudes, in the second that the heat is felt at lower altitudes. It is advisable to dress in layers because in the early hours of the day and at higher altitudes it can be cool all year round.

                        <br><br>Remember that the equatorial sun is very strong and is even stronger as you climb higher: the two months in which the sun is strongest are March and September. 
                        
                        <br><br>Days are approximately 12 hours long all year round, so the sun rises around 6am and sets around 6pm, and is used by the local population as a clock. </p>
            <p class="uppercase pt-4 font-extrabold">MASAI MARA</p>
            <p class="text-sm leading-6">
                The Masai Mara wildlife reserve is located at an average altitude of around 1,500 meters and borders Tanzania and the Serengeti park with which it forms a single ecosystem. The main feature is the large temperature range between day and night.

                <br><br>The minimum temperatures are always around 12 degrees, while the maximum temperatures vary from 25° in the period May-August to 27-28 °C in the remaining months of the year.

                <br> <br>More than 100 mm of rainfall falls here each month from March to May and from October to December, with the wettest month being April with 200 mm. 

                <br><br>The best period is definitely from June to September , when you can admire the great migration of animals from Tanzania to Kenya.
            </p>
            <p class="uppercase pt-4 font-extrabold">
                AMBOSELI NATIONAL PARK
            </p>
            <p class="text-sm leading-6">
                It is located in southern Kenya at an altitude of about 1,100 m a short distance from Kilimanjaro on the horizon.

                <br><br>The climate is predominantly arid with rainfall following the common pattern: dry seasons from June to September and from January to March; rainy seasons from April to May and from October to December. Humidity is almost absent given the presence of Kilimanjaro where the rains occur and where the air releases its humidity.

                <br><br>Minimum temperatures vary between 14 and 17°C while maximum temperatures vary between 24° and 30°.

                <br><br>The park is open all year round but the best time to spot mammals, which gather around the limited water sources, is during the dry season from June to October with warm, dry days and from January to March with hot, dry days.

                <br><br>Curiosity: The crystallized salt that settles on the surface of the ground, as a result of the evaporation of the water from Lake Amboseli, often creates the curious effect of mirages.

                <br><br>During the rainy season, sightings are a little more difficult because water sources are available almost everywhere in the park and therefore the animals disperse; furthermore, if the rains are heavy, the roads risk becoming muddy and more difficult to travel.
            </p>
            <img src="../../../assets/safari/mara.jpg" alt="">
            <p class="uppercase pt-4 font-extrabold"> TSAVO NATIONAL PARK</p>
            <p class="text-sm leading-6">
                The temperature is much more similar to that of the coastal area, in fact it is the park closest to the sea. The altitude varies from 200 to 1700 m (between Tsavo East and Tsavo West) and therefore the temperatures are very different from each other but the climate is always arid and follows the "common" course with 2 dry seasons and 2 rainy seasons.

                <br><br>Minimum temperatures vary between 17 and 21°C while maximum temperatures vary between 28° and 33°.

                <br><br>The best period is always the dry season, even if the period July-August allows you to see a greener and more luxuriant environment as the heavy rain season has just passed.
            </p>
            <p class="uppercase pt-4 font-extrabold">LAKE NAKURU</p>
            <p class="text-sm leading-6">It is the lake where you can admire pink flamingos at an altitude of approximately 1800 m with temperatures that vary from 9-12° minimum to 24-28° maximum with a large temperature range.

            <br><br> Here too the driest period is from December to March, with more abundant and variable rainfall during the rest of the year.</p>
            <img src="../../../assets/safari-sunset.jpg" alt="">
                </div>
            <div class="hidden md:block md:col-start-9 md:col-span-4 md:space-y-0">
                <div>
                    <p class="font-mono font-bold text-xl">RECENT ARTICLES</p>
                <img class="h-44 w-60 pt-6 object-cover" src="../../../assets/travel.jpg" alt="">
                <p routerLink="/leaving" class="pt-4 text-gray-500 hover:text-black cursor-pointer">10 Things to know before leaving.</p>
                </div>
                <div>
                    
                <img class="h-44 w-60 pt-6 object-cover" src="../../../assets/packk.jpg" alt="">
                <p routerLink="/packing" class="pt-4 text-gray-500 hover:text-black cursor-pointer">What to pack.</p>
                </div>
                <div>
                   
                <img class="h-44 w-60 pt-6 object-cover" src="../../../assets/evisa.PNG" alt="">
                <p routerLink="/visa-kenya" class="pt-4 text-gray-500 hover:text-black cursor-pointer">Visa for Kenya</p>
                </div>
                <div>
                    
                <img class="h-44 w-60 pt-6 object-cover" src="../../../assets/safariss.jpg" alt="">
                <p routerLink="/safari-rules" class="pt-4 text-gray-500 hover:text-black cursor-pointer">Rules during safari</p>
                </div>
                <div>
                    
                <img class="h-44 w-60 pt-6 object-cover" src="../../../assets/fodd.jpg" alt="">
                <p routerLink="/food-in-kenya" class="pt-4 text-gray-500 hover:text-black cursor-pointer">Food in Kenya</p>
                </div>
    
                
           </div>

        </div>




</div>
