<div class="mt-24">
    <div class="relative">
        <img class="w-full xl:h-[600px]" loading="eager" src="../../../assets/travel.jpg" alt="">
        <div class="absolute left-14 md:left-28 lg:left-60 xl:pl-0 xl:inset-x-16 top-1/3">
            <p class="font-mono font-semibold text-xl md:text-3xl lg:text-4xl xl:text-6xl text-red-600" >10 THINGS TO KNOW BEFORE LEAVING.</p>
        </div>
        
    </div>

    <div class="mt-20 md:grid md:grid-cols-12">
        <div class="md:col-start-2 md:col-span-6 px-4 md:pl-0">
            <img class="  md:h-96 " loading="eager" src="../../../assets/traveling.jpg" alt="">
            <p class="pt-10 text-2xl text-amber-500 font-bold">If you are planning your vacation, you cannot avoid reading our advice</p>
            <p class="uppercase pt-4 font-extrabold">Why reserve surprises if before leaving you can organize your trip for the best?</p>
            <p class="text-2xl text-red-800 uppercase font-medium opacity-85 pt-10">Let's discover our tips together</p>
            <i class="fa-regular fa-paper-plane text-red-900 hover:text-red-800 fa-3x hover:animate-bounce cursor-pointer py-4"></i>
            <p class="text-xl text-red-800 font-medium opacity-85 pt-4">1. When is the best time to leave?</p>
            <p class="text-sm leading-6 opacity-80">The best time of year to do both the sea and safari is undoubtedly during the dry season from December to March, if instead you prefer a slightly milder period then you can come and visit us in August or September.</p>
            <i class="fa-solid fa-money-bill-1-wave  text-red-900 hover:text-red-800 fa-3x hover:animate-bounce cursor-pointer"></i>
            <p class="text-xl text-red-800 font-medium opacity-85 py-4">2. What currency can I pay with?</p>
            <p class="text-sm leading-6 opacity-80">We recommend that  you bring only Euros  in cash (you can import foreign currency up to a maximum value of $5,000 USD) and then exchange them locally. The local currency is the <strong>Kenyan Shilling (KES)  </strong> and the exchange rate is approximately 1:140* (1 euro = 140 shillings). You can exchange money at banks, hotels and even casinos.
                Credit cards (   Visa, Mastercard and Maestro) are accepted in many places but often an additional fee may be applied for payment, while ATMs are more inconvenient  (  which charge a fee of around $4 per withdrawal) even if they are present in the Watamu and Malindi areas.
                <strong>Payments for tours and excursions can also be made in Euros.</strong>
                If you want to buy local handicrafts, the vendors will also accept  payment in Euros, but we recommend that you  always pay in shillings  since the exchange rate, in these cases, is always 1 to 140.
               <br> * The exchange rate obviously varies day by day, you can use our converter in the sidebar or at the bottom of this page if you are browsing from a smartphone.
                </p>
            <i class="fa-solid fa-suitcase-rolling  text-red-900 hover:text-red-800 fa-3x hover:animate-bounce cursor-pointer py-4"></i>
            <p class="text-xl text-red-800 font-medium opacity-85 pt-4">3.What can I bring back?</p>
            <p class="text-sm leading-6 opacity-80">It may seem trivial to say this, but it is strictly forbidden to purchase <strong>elephant ivory, rhinoceros horn, sea turtles, coral, shells, mother-of-pearl, animal skins, hunting trophies, narcotics, weapons and live animals.</strong>

                <br><br>Persons leaving or entering Kenya are permitted to take from or bring into the country up to KSh500,000 of Kenyan currency and a foreign currency equivalent to a maximum of US$6,250 without duty.
                
              <br> <br> <strong>250 grams of tobacco or 200 cigarettes or 50 cigars , one litre of alcohol and a quarter of perfume </strong> are exempt from customs duties .
                
              <br> <br> If you want to buy products, you can also do so in the Duty Free inside the airport.
                
               <br> <br><strong>A word of advice: </strong>do not put fragile objects, bottles, important or identity documents, keys, money and jewelry in your baggage that will be checked in, because in case of loss, the companies will reimburse based on the weight and not the value of the lost objects.
                
                <br><strong>Since 2017, the introduction and use of plastic bags (of any size) is prohibited, so be careful and avoid bringing them with you!</strong></p>
            <i class="fa-solid fa-user-secret  text-red-900 hover:text-red-800 fa-3x hover:animate-bounce cursor-pointer py-4"></i>
            <p class="text-xl text-red-800 font-medium opacity-85 pt-4">4. How should I dress?</p>
            <p class="text-sm leading-6 opacity-80">Kenya is cut in half by the equator so the sun is perpendicular and it is best to protect yourself everywhere, even in the mountains.  Bring <strong>light clothing</strong> but do not forget a sweatshirt or light sweater just in case.

               <br><br> To enter mosques it is mandatory to wear clothing appropriate  to the place and therefore clothes that leave the shoulders bare, shorts and miniskirts are to be avoided; women must have their heads covered. In the mosque one enters barefoot or with only socks, shoes must be left outside.
                
                <br><br>There is a strong Muslim community on the coast so please behave <strong>appropriately</strong>  under the circumstances by avoiding going topless or walking around the city in a bathing suit.</p>
            <i class="fa-solid fa-truck-medical  text-red-900 hover:text-red-800 fa-3x hover:animate-bounce cursor-pointer py-4"></i>
            <p class="text-xl text-red-800 font-medium opacity-85 pt-4">5. Are vaccines necessary?</p>
            <p class="text-sm leading-6 opacity-80">In our experience you can <strong>avoid prophylaxis and vaccinations against malaria</strong> , in fact Kenya, with the exception of very internal areas, is not one of the areas most at risk.

               <br><br> Even in this case you can learn more about the topic in <span class="text-red-600">one of our guides</span> , however <strong>we always recommend consulting your personal doctor</strong> before leaving who is certainly more up to date on your health status and can advise you on the best. However, every pharmacy in Kenya has a Malaria Kit available at a cost of €10.</p>
            <i class="fa-regular fa-handshake  text-red-900 hover:text-red-800 fa-3x hover:animate-bounce cursor-pointer py-4"></i>
            <p class="text-xl text-red-800 font-medium opacity-85 pt-4">6.Is it worth getting insurance?</p>
            <p class="text-sm leading-6 opacity-80">Our agency provides insurance in case of problems during Safaris or Excursions, however this does not include but we recommend each traveler to have an adequate travel policy with their operators in Italy.

                <br><br>Travel insurance policies usually include:
                
              <br> <br> -coverage for flight cancellation or delay;
               <br> -theft, loss or damage to baggage;
               <br> -accidents and benefits;
                <br>-medical, pharmaceutical, hospital and surgical expenses;
               <br> -medical repatriation or emergency transfer within the country or to another country. 
                <br><br>In Kenya all European-level health services are paid for with very high costs. Especially emergency transfers within the country or medical repatriations are extremely expensive and therefore health care is provided only and exclusively against payment.</p>
            <i class="fa-solid fa-person  text-red-900 hover:text-red-800 fa-3x hover:animate-bounce cursor-pointer py-4"></i>
            <p class="text-xl text-red-800 font-medium opacity-85 pt-4">7.How can I help those who have less than me?</p>
            <p class="text-sm leading-6 opacity-80">One afternoon asking us, or along the way to reach the National Parks, you will have the opportunity to cross many villages and inhabited centers: to welcome you there will be many children who will greet you and wait for a small gift.

               <br><br> In your suitcase, therefore, create space for the souvenirs that you will bring back by filling it with clothes that you no longer use, biscuits, pens or colours ... in short, with whatever you want to give to those less fortunate but be careful: do not give cash to adults or children!</p>
       
            </div>
        <div class="hidden md:block md:col-start-9 md:col-span-4 md:space-y-0">
            <div>
                <p class="font-mono font-bold text-xl">RECENT ARTICLES</p>
            <img class="h-44 w-60 pt-6 object-cover" src="../../../assets/pack.jpg" alt="">
            <p class="pt-4 text-gray-500 hover:text-black cursor-pointer">What to pack</p>
            </div>
            <div>
                
            <img class="h-44 w-60 pt-6 object-cover" src="../../../assets/safari/IMG-20241004-WA0021.jpg" alt="">
            <p class="pt-4 text-gray-500 hover:text-black cursor-pointer">Rules during safari.</p>
            </div>
            <div>
               
            <img class="h-44 w-60 pt-6 object-cover" src="../../../assets/food.jpg" alt="">
            <p class="pt-4 text-gray-500 hover:text-black cursor-pointer">Food in Kenya</p>
            </div>
            <div>
                
            <img class="h-44 w-60 pt-6 object-cover" src="../../../assets/evisa.PNG" alt="">
            <p class="pt-4 text-gray-500 hover:text-black cursor-pointer">Visa for Kenya</p>
            </div>
            <div>
                
            <img class="h-44 w-60 pt-6 object-cover" src="../../../assets/time.jpg" alt="">
            <p class="pt-4 text-gray-500 hover:text-black cursor-pointer">When to go?</p>
            </div>

            
       </div>
        
    </div>
   
       

</div>
