<nav class="flex w-screen lg:h-20 h-24 fixed top-0 left-0 right-0 bg-white justify-between items-center px-5 z-50 lg:px-10 shadow-blue-300 shadow-md">
    <div>
        <a>
            <img class="object-contain h-20" src="../../../assets/zoro-logo.png" alt="">
        </a>
    </div>
  <div>
    <ul  class="lg:flex  lg:items-center lg:space-x-10 lg:font-medium lg:text-xl hidden text-blue-900">
        <li>SAFARIS & TOURS</li>
        <li>EXCURSIONS</li>
        <li>ABOUT US</li>
    </ul>
    
  </div>
  <div>
    <button type="button" class=" hidden lg:block text-white bg-blue-900 hover:bg-blue-950 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-2xl px-2 py-1 me-2 mb-1 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Book Now</button>
  </div>
  
    <div (click)="toggleMenu()" class="lg:hidden cursor-pointer">
        <i class="fa-solid fa-bars fa-2x"  [class.hidden]="isMenuOpen"></i>
        <i class="fa-solid fa-xmark fa-2x " [class.hidden]="!isMenuOpen"></i>
    </div>
    <div>
        <ul [class]="{'hidden': !isMenuOpen, 'block': isMenuOpen}" class="lg:hidden absolute left-0 top-16 bg-white w-full h-screen leading-[80px] mt-8 px-6 py-6 z-50 font-bold text-blue-900 text-xl">
            <li>SAFARIS & TOURS</li>
            <li>EXCURSIONS</li>
            <li>ABOUT US</li>
            <li> <button type="button" class="text-white bg-blue-900 hover:bg-blue-950 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-2xl px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Book Now</button></li>
        </ul>

    </div>
    
   

  
</nav>


