  <div class="lg:mx-2 w-full bg-blue-100 mt-6 ">
    
   
   
    <div class="  flex flex-col md:flex-row justify-center items-center gap-4 md:py-10">
  
        <div routerLink="/excursions"  class="card relative  p-4 md:w-96 lg:w-96 w-full h-72 md:h-96 overflow-hidden rounded-lg group">
            <div  class="image-container h-full w-full relative">
              <img src="/assets/ffff.jpg" alt="Image" class="w-full h-full object-cover transition duration-300 ease-in-out group-hover:hidden">
              <img src="../../../assets/safaris/mida.jpg" alt="Hover Image" class="w-full h-full object-cover hidden group-hover:block transition duration-300 ease-in-out opacity-75">
              <div class="text-container absolute bottom-10 left-6 text-sm md:text-lg font-bold text-black text-shadow-md transition duration-300 ease-in-out group-hover:top-6">
                <p class=" z-10 text-xl group-hover:text-black text-white">MIDA CREEK SAFARI </p>
                <p class="text-4xl text-white group-hover:text-black">___</p>
                <p class="hidden group-hover:block font-medium text-black z-10">Mida Creek Watamu is a broadwater tidal creek surrounded by extensive mangroves and lined with palms.Suitable for canoe rides.</p>
              </div>
            </div>
          </div>
          <div routerLink="/excursions"   class="card relative z-10 p-4 md:w-96 lg:w-96 w-full h-72 md:h-96 overflow-hidden rounded-lg group">
            <div   class="image-container h-full w-full relative">
              <img src="../../../assets/safari/IMG-20241004-WA0014.jpg" alt="Image" class="w-full h-full object-cover transition duration-300 ease-in-out group-hover:hidden">
              <img src="../../../assets/safari/IMG-20241004-WA0010.jpg" alt="Hover Image" class=" opacity-85 w-full h-full object-cover hidden group-hover:block transition duration-300 ease-in-out">
              <div class="text-container absolute bottom-10 left-6 text-sm md:text-lg font-bold text-black text-shadow-md transition duration-300 ease-in-out group-hover:top-6">
                <p class="text-white group-hover:text-black z-10 text-xl">SARDEGNA SAFARI </p>
                <p class="text-4xl text-white group-hover:text-black">___</p>
                <p class="hidden group-hover:block text-white group-hover:text-black font-medium z-10">Experience the vibrant marine life of Malindi Marine Park and soak up the sun on the stunning beaches of Sardinia. </p>
              </div>
            </div>
          </div>
          <div routerLink="/excursions"   class="card  relative z-10 p-4 md:w-96 lg:w-96 w-full h-72 md:h-96 overflow-hidden group">
            <div class="image-container h-full w-full relative">
              <img src="../../../assets/safaris/loveisland.jpg" alt="Image" class="w-full h-full object-cover transition duration-300 ease-in-out group-hover:hidden">
              <img src="../../../assets/safaris/loveisland2.jpg" alt="Hover Image" class="w-full h-full object-cover hidden group-hover:block transition duration-300 ease-in-out">
              <div class="text-container absolute bottom-10 left-6 text-sm md:text-lg font-bold text-black text-shadow-md transition duration-300 ease-in-out group-hover:top-6">
                <p class="text-white z-10 text-xl ">LOVE ISLAND SAFARI. </p>
                <p class="text-4xl text-white ">___</p>
                <p class="hidden group-hover:block font-medium text-white z-10 ">A heart-shaped strip of sand that appears and disappears with the tides, on which you can spend the day immersed in the waters.</p>
              </div>
            </div>
          </div>
         

    </div>
    
  </div>
  <div class="flex justify-center items-start py-4">
    <a routerLink="/excursions"  class="inline-flex items-center px-3 py-2 text-xl font-medium text-center text-white bg-purple-700 rounded-lg hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-red-300 cursor-pointer">
        MORE EXCURSIONS  <i class="fa-solid fa-arrow-right pl-2"></i>
    </a>

</div>
