<div class=" mt-24 w-full bg-amber-900 bg-opacity-40">
    <div class="flex flex-col justify-between gap-6 lg:gap-0  lg:grid lg:grid-cols-12 p-2">
        <div *ngIf="safaris" class="lg:p-2 lg:col-start-2 lg:col-span-6  ">
            <p class="text-4xl font-bold font-serif pb-4 text-red-600">{{safaris.title}}</p>
            <p class="text-3xl font-bold font-serif pb-4 text-red-600">{{safaris.title2}}</p>
            <p class="leading-8 font-normal text-lg">{{safaris.description2}}</p>
            <!-- <p class="leading-8 font-normal text-lg pt-2">{{safaris.description2}}</p> -->
        </div>
        <div class="flex flex-col justify-between  lg:col-start-9 lg:col-end-12 ">
            <p class=" font-semibold text-2xl text-red-600">SAFARI DETAILS</p>
            <div class="flex flex-col leading-10 font-medium text-lg">
                <p>Departure:Watamu</p>
                <p>Dates: Available everyday
                    (from July to March)</p>
                <p>Time: Departure time 9:00 AM</p>
                <p>Participants:no limits</p>
                <p>Duration:1 day</p>

            </div>
        </div>
    </div>
    <div class="flex flex-col justify-between lg:grid lg:grid-cols-12 pb-2">
        <div class="lg:col-span-6 lg:pl-20">
            <img class="" src="../../../assets/safari/IMG-20241004-WA0025.jpg" alt="">
        </div>
        <div class="lg:col-start-9 lg:col-end-12 flex items-start flex-col bg-yellow-600 bg-opacity-50 border border-yellow-600 pl-2 pr-2 py-2 ">
            <p class="text-red-600 text-2xl font-semibold font-serif pb-4">REQUEST A QUOTE</p>
            <div class="flex flex-row gap-2">
                <input class="w-36 lg:w-28 rounded-lg  focus:ring-4 focus:outline-none focus:ring-blue-300" type="text" placeholder="No. of Adults">
                <input class="w-36 lg:w-28  rounded-lg  focus:ring-4 focus:outline-none focus:ring-blue-300" type="text" placeholder="No. of Children" >
            </div>
           
              
              <div class="mt-4 flex flex-col">
                <label class="text-slate-900 text-xl font-normal" for="">INTERESTED IN</label>
                <input class="mt-4 w-[295px] lg:w-[240px] rounded-lg  focus:ring-4 focus:outline-none focus:ring-blue-300" type="text" placeholder="Choose excursion...">
              </div>
               
    
            <div class="mt-4 flex flex-col">
                <label class="text-slate-900 text-xl font-normal" for="">DEPARTURE DAY</label>
                <input class="mt-4 w-[295px] lg:w-[240px] rounded-lg  focus:ring-4 focus:outline-none focus:ring-blue-300" type="date" name="" id="" placeholder="dd-mm-yyyy">
  
            </div>
            <input class="mt-5 w-[295px] lg:w-[240px] rounded-lg  focus:ring-4 focus:outline-none focus:ring-blue-300" type="text" placeholder="Phone">
            <input class="mt-4 w-[295px] lg:w-[240px] rounded-lg  focus:ring-4 focus:outline-none focus:ring-blue-300" type="email" placeholder="Email">

            <!-- <div class="flex items-center mb-4 mt-4 ">
                <input id="default-checkbox" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                <label for="default-checkbox" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">I agree with the treatment of my personal information</label>
            </div> -->
            <button type="button" class=" mt-4 text-white bg-red-700 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">REQUEST A QUOTE</button>
           
        </div>
    </div>
</div>

