<div class="mt-24">
    <div class="relative">
        <img class="w-full xl:h-[600px]" loading="eager" src="../../../assets/packing.png" alt="">
        <div class="absolute left-14 md:left-52 lg:left-72 xl:pl-0 xl:inset-x-96 top-1/3">
            <p class="font-mono font-semibold text-5xl md:text-5xl lg:text-6xl xl:text-7xl text-black" >WHAT TO PACK</p>
        </div>
        
    </div>

    <div class="mt-20 md:grid md:grid-cols-12">
        <div class="md:col-start-2 md:col-span-6 px-4 md:pl-0 opacity-80">
            <img src="../../../assets/packk.jpg" alt="">
            <p class="pt-10 text-2xl text-amber-500 font-bold">If you are about to leave for Kenya these tips on what to bring will be essential!</p>
            <p class="uppercase pt-4 font-extrabold">Packing for your trip to Kenya doesn't have to be stressful. So follow our tips and you'll find everything you need to enjoy your trip with peace of mind.</p>
            <p class="text-2xl text-red-800 uppercase font-medium opacity-85 pt-10">These essentials are really few <br>Let's discover them together</p>
             <p>Before starting to choose the most suitable clothes for the trip, you need to take into account the period of your stay . The hot season is from October to March, temperatures never fall below 22 degrees and can even reach 35°!  The cooler season is from April to September with temperatures around 27-30° but which can also drop to 20° with rain.

                    <br><br> We advise against leaving from the end of March to June, the rainy season, but if you want to see animal migrations and you travel during this period, it is necessary to bring clothing to protect yourself from the water. However, we refer you to our section on climate for more information.
            
                 <br><br>However, Kenya is not just about the sea, so in our checklist  we will also include items of clothing that can protect you in case of unforeseen events or, as in the case of Safaris, help you with the change in temperature based on the areas you are going to visit.
            
                    <br><br> In any case, on the pages of each Tour or Excursion, you will find the recommended clothing or accessories to bring so you are not unprepared!</p>
            <p class="pt-10 text-2xl text-amber-500 font-bold">What to bring on a Safari?</p>
           
        
        
        
        
        </div>
        <div class="hidden md:block md:col-start-9 md:col-span-4 md:space-y-0">
            <div>
                <p class="font-mono font-bold text-xl">RECENT ARTICLES</p>
            <img class="h-44 w-60 pt-6 object-cover" src="../../../assets/travel.jpg" alt="">
            <p routerLink="/leaving" class="pt-4 text-gray-500 hover:text-black cursor-pointer">10 Things to know before leaving.</p>
            </div>
            <div>
                
            <img class="h-44 w-60 pt-6 object-cover" src="../../../assets/safari/IMG-20241004-WA0021.jpg" alt="">
            <p routerLink="/safari-rules" class="pt-4 text-gray-500 hover:text-black cursor-pointer">Rules during safari.</p>
            </div>
            <div>
               
            <img class="h-44 w-60 pt-6 object-cover" src="../../../assets/food.jpg" alt="">
            <p class="pt-4 text-gray-500 hover:text-black cursor-pointer">Food in Kenya</p>
            </div>
            <div>
                
            <img class="h-44 w-60 pt-6 object-cover" src="../../../assets/evisa.PNG" alt="">
            <p routerLink="/visa-kenya" class="pt-4 text-gray-500 hover:text-black cursor-pointer">Visa for Kenya</p>
            </div>
            <div>
                
            <img class="h-44 w-60 pt-6 object-cover" src="../../../assets/time.jpg" alt="">
            <p routerLink="/when-to-go" class="pt-4 text-gray-500 hover:text-black cursor-pointer">When to go?</p>
            </div>

            
       </div>
    </div>
    <div class="flex flex-col justify-between pl-10 md:pl-0  md:grid md:grid-cols-12 opacity-80">
        <div class="flex flex-col  md:grid md:col-start-2 md:col-end-4 md:grid-rows-[auto,auto,1fr] ">
            <i class="fa-solid fa-suitcase fa-3x text-red-800 pt-2"></i>
            <p class="text-2xl text-red-800 uppercase font-medium opacity-85 pt-10">CLOTHING</p>
            <p class="text-sm"><br><i class="fa-solid fa-arrow-right pr-1 text-red-800 fa-1x"></i>Backpack
                <br><i class="fa-solid fa-arrow-right pr-2 text-red-800 fa-1x"></i>T-shirt or light shirt
                <br><i class="fa-solid fa-arrow-right pr-2 text-red-800 fa-1x"></i>Shorts and long pants
                <br><i class="fa-solid fa-arrow-right pr-2 text-red-800 fa-1x"></i>Comfortable shoes or sandals
                <br><i class="fa-solid fa-arrow-right pr-2 text-red-800 fa-1x"></i>Sweatshirt or light sweater
                <br><i class="fa-solid fa-arrow-right pr-2 text-red-800 fa-1x"></i>Hat or bandana
                <br><i class="fa-solid fa-arrow-right pr-2 text-red-800 fa-1x"></i>Swimming suit
                <br><i class="fa-solid fa-arrow-right pr-2 text-red-800 fa-1x"></i>Slippers
                <br><i class="fa-solid fa-arrow-right pr-2 text-red-800 fa-1x"></i>K-Way</p>
        </div>
        <div class="flex flex-col md:grid md:col-start-6 md:col-end-8 md:grid-rows-[auto,auto,1fr] ">
            <i class="fa-solid fa-camera fa-3x text-red-800 pt-2"></i>
            <p class="text-2xl text-red-800 uppercase font-medium opacity-85 pt-10">DON'T FORGET</p>
            <p class="text-sm">
                <br><i class="fa-solid fa-arrow-right pr-2 text-red-800 fa-1x"></i>Camera
                <br><i class="fa-solid fa-arrow-right pr-2 text-red-800 fa-1x"></i>Shillings in cash
                <br><i class="fa-solid fa-arrow-right pr-2 text-red-800 fa-1x"></i>Passport
                <br><i class="fa-solid fa-arrow-right pr-2 text-red-800 fa-1x"></i>Sunglasses
                <br><i class="fa-solid fa-arrow-right pr-2 text-red-800 fa-1x"></i>Smartphone
                <br><i class="fa-solid fa-arrow-right pr-2 text-red-800 fa-1x"></i>Battery Charger
                <br><i class="fa-solid fa-arrow-right pr-2 text-red-800 fa-1x"></i>Type G adapter
                <br><i class="fa-solid fa-arrow-right pr-2 text-red-800 fa-1x"></i>Sunscreen
                <br><i class="fa-solid fa-arrow-right pr-2 text-red-800 fa-1x"></i>Mosquito repellent
                <br><i class="fa-solid fa-arrow-right pr-2 text-red-800 fa-1x"></i>Drugs</p>
        </div>
        <div class="flex flex-col md:grid md:col-start-10 md:col-end-12 md:grid-rows-[auto,auto,1fr] ">
            <i class="fa-solid fa-binoculars fa-3x text-red-800 pt-2"></i>
            <p class="text-2xl text-red-800 uppercase font-medium opacity-85 pt-10">EXTRA</p>
            <p class="text-sm">
                <br><i class="fa-solid fa-arrow-right pr-2 text-red-800 fa-1x"></i>Binoculars
                <br><i class="fa-solid fa-arrow-right pr-2 text-red-800 fa-1x"></i>Hat or bandana
                <br><i class="fa-solid fa-arrow-right pr-2 text-red-800 fa-1x"></i>Wet wipes
                <br><i class="fa-solid fa-arrow-right pr-2 text-red-800 fa-1x"></i>Amuchina or disinfectant
                <br><i class="fa-solid fa-arrow-right pr-2 text-red-800 fa-1x"></i>Drugs
                <br><i class="fa-solid fa-arrow-right pr-2 text-red-800 fa-1x"></i>Beach towel
            </p>
        </div>

    </div>

    <div class="pl-4 md:pl-24">
        
        <p class="pt-10 text-2xl text-amber-500 font-bold">What else do you need to bring to Kenya?</p>
        <p class="text-2xl text-red-800 uppercase font-medium opacity-85 pt-10"><i class="fa-solid fa-truck-medical fa-1x"></i>Drugs</p>
        <div class="flex flex-row gap-2 md:grid md:grid-cols-12">
            <div class="md:col-start-1 md:col-end-6">
                <p class="text-base opacity-80">Usually you don't think of bringing medicines but preparing a small emergency quantity can be a great idea even if we hope you never have to use it!
                    Let's see together what the medicines for our Travel Kit are , in brackets we give you some examples to help you understand what we are talking about :</p>
            </div>
            <div class=" hidden md:block md:col-start-7 md:col-end-10">
                <img class="h-28 w-28" src="../../../assets/kit.jpg" alt="">
            </div>
        </div>
        <p class="pt-2 text-sm leading-6 pl-6 opacity-80">
            <br><i class="fa-regular fa-circle-right pr-2 text-red-800"></i>Antipyretics and Painkillers (we recommend paracetamol as well as Tylenol)
            <br><i class="fa-regular fa-circle-right pr-2 text-red-800"></i>Broad-spectrum antibiotics (such as amoxicillin)
            <br><i class="fa-regular fa-circle-right pr-2 text-red-800"></i>Antidiarrheals (imodium or dissenten)
            <br><i class="fa-regular fa-circle-right pr-2 text-red-800"></i>Lactic ferments (to help you restore the bacterial flora)
            <br><i class="fa-regular fa-circle-right pr-2 text-red-800"></i>Disinfectant (such as amuchina, useful if you can't find water)
            <br><i class="fa-regular fa-circle-right pr-2 text-red-800"></i>Mosquito repellent (e.g. autan tropical)
            <br><i class="fa-regular fa-circle-right pr-2 text-red-800"></i>Antihistamines and cortisone (for erythema or allergic reactions)
            <br><i class="fa-regular fa-circle-right pr-2 text-red-800"></i>Disinfectant wipes (in case of small wounds)
            <br><i class="fa-regular fa-circle-right pr-2 text-red-800"></i>Eye drops (if you suffer from irritation from fine dust like in Safari)
        </p>
        <p class="font-semibold opacity-85">Of course, don't forget the medicines you regularly take in Italy too!</p>
        <div class="flex md:grid md:grid-cols-12">
            <div class=" md:col-span-6 text-sm opacity-80">
                <p class="leading-6">In our experience you can avoid prophylaxis and vaccinations against malaria , in fact Kenya, with the exception of very internal areas, is not one of the areas most at risk.
                    However, we always recommend consulting your personal doctor before leaving, who is certainly more up-to-date on your health status and can advise you on the best. However,  every pharmacy in Kenya has a Malaria Kit available at a cost of €10.
                     
                    <br><br>We also want to reassure you by saying that in pharmacies in Kenya you can find the main drugs  (with different names but the same active ingredient). If you need particular drugs, before leaving get a medical prescription so you can stay safe in case of need.  Pharmacies are not present in the Safari areas, often there are uninhabited areas and therefore it could be difficult to find certain products. Our advice is always to bring a small first aid kit and try not to drink tap water . </p> 
            <p class="text-2xl text-red-800 uppercase font-medium o pt-6"><i class="fa-solid fa-camera pr-2"></i>ELECTRONIC DEVICES</p>
            <p class="font-semibold uppercase">PHOTOS and VIDEOS</p>
            <p class="leading-6">There are no restrictions on cameras of any kind in Kenya.
                Our advice is to bring a good number of spare memory cards and batteries with you and use plastic cases or bags to protect your products from sand or dust.
                <br>We remind you that it is forbidden to photograph airports, military installations, government buildings, bridges and military personnel in uniform, furthermore it is always good practice to ask permission from people before photographing or ask the guide for advice.</p>
            <p class="font-semibold uppercase">TELEPHONY</p>   
            <p class="leading-6">The cell phone works almost everywhere but we advise you not to apply an extra “foreign” rate with your Italian operator which involves very high costs (often around €8/min).
                First of all, before taking off, deactivate ROAMING on your smartphone and upon arrival  purchase a local rechargeable SIM (such as Safaricom or Airtel) which are easily available.
               <br> Upon your request we can bring it directly to you upon your arrival at the airport or hotel so that you can immediately notify your home of your arrival in Kenya.
                The costs are relatively low, for example with €10 you can have 3 or 5 GB of data traffic so you can use your cell phone with complete peace of mind during your stay. In this way, you can make calls through VOIP services such as Whatsapp, Skype or Messenger and not find strange surprises on your bill.
                </p>
                <p class="leading-6">However, lodges, villages and many restaurants have free Wi-Fi that you can use for your connections.</p>
            
            </div>
            
        </div>
        <div class="flex md:grid grid-cols-12">
            <div class="md:col-span-4">
                <p class="font-semibold uppercase opacity-80">POWER adapter</p>
                <p class="leading-6 text-sm opacity-80">Although it is often easy to find them on site, we always remember to bring with you at least one <strong> Type G</strong> pin adapter (English type).</p>
            </div>
            <div class="hidden md:block md:col-span-4 md:col-start-6">
                <img class="w-48 h-48" src="../../../assets/typeg.jpg" alt="">
            </div>
        </div>
       
       
    </div>

</div>
