<div class="mt-20 flex-col relative">
   
    <!-- First Section: Will Scroll Over the Fixed Second Section -->
    <div class="relative  flex flex-col lg:grid lg:grid-cols-12 pt-10">
        <img class="object-cover lg:h-[760px] lg:col-span-6 lg:col-start-2 pr-4 pb-2 lg:pb-0" src="../../assets/safari/mara.jpg" alt="">
        <app-quotation class="lg:col-span-5 pr-4"/>
    </div>

    <!-- Second Div: Fixed Image in the Background -->
    <!-- <div class=" absolute inset-x-0 top-[860px]   h-[400px] z-10   ">
        <img class="w-full h-full object-cover" src="../../assets/ffffff.jfif" alt="">
    </div> -->

  

    <!-- Third Section: Will Pass Over Both the First and Fixed Second Section -->
    <div class="flex flex-col lg:grid lg:grid-cols-12 pt-4    pb-2 relative ">
        <app-excursion-quotation class="lg:col-span-5 lg:col-start-2 order-2 lg:order-1 pr-4 lg:pr-0"/>
        <img class="object-cover lg:h-[760px] lg:col-span-6 lg:col-start-7 lg:pl-4 pt-2 lg:pt-0 pb-2 pr-4 lg:pr-0 lg:pb-0 order-1 lg:order-2" src="../../assets/safaris/IMG-20241013-WA0025.jpg" alt="">
    </div>
</div>
