<div class="container group w-full md:h-[600px] h-96  hover:bg-[url('/assets/camel.jpg')] bg-cover duration-100 ease-in-out  mx-auto flex flex-col justify-center items-center  gap-6 bg-amber-500 bg-opacity-65 mt-2">
   
    <div>
        <img class="rounded-full w-[100px] h-[100px] group-hover:hidden" src="../../../assets/elephant.jpg" alt="">
    </div>
    <div >
        <p class="text-3xl md:text-5xl font-normal text-slate-700 group-hover:text-white pl-6">Jambo and welcome to Kenya, <br>the heart of africa and the world!</p>
    </div>
    
</div>





