<div class="container group w-full md:h-[600px] h-96  hover:bg-[url('/assets/camel.jpg')] bg-cover duration-100 ease-in-out  mx-auto flex flex-col justify-center items-center  gap-6 bg-amber-500 bg-opacity-65">
    <div>
        <img class="rounded-full h-[100px] w-[100px] group-hover:hidden object-fill" src="../../../assets/elephant.jpg" alt="">
    </div>
    <div class="">
        <h1 class="md:font-semibold md:text-5xl text-2xl text-slate-700 group-hover:text-white ">Jambo and welcome to Kenya, <br>the heart of africa and the world! </h1>
    </div>
    
</div>





